<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Bootstrap Snippet: Login Form</title>
    @using Vereyon.Web
    <link rel='stylesheet prefetch' href='http://netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css'>
    <link rel="stylesheet" href="css/style.css">

</head>
<body>

    <div class="wrapper">
        @Html.RenderFlashMessages()
        <form id="loginForm" class="form-signin" method="post">
            <h2 class="form-signin-heading">Login</h2>
            <input id="username" type="text" class="form-control" name="username" placeholder="Email" required="" autofocus="" />
            <h3 id='result'></h3>
            <input id="password" type="password" class="form-control" name="password" placeholder="Password" required="" />
            <label class="checkbox">
                <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
            </label>
            <div class="btn">
                <button id="submit" class="btn btn-lg btn-primary btn-block" style="background-color:#183880; width:120%;" type="submit">Register or Login</button>
            </div>
        </form>
    </div>

</body>
</html>